.container {
  width: 15rem;
  min-height: 10rem;
    max-height: 18rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: var(--mainFont);
  border-radius: 5% !important;
}

.userDescription {
  max-height: 12rem;
  font-size: 10.5px;
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
}


.button {
  font-size: 10.5px !important;
  font-family: var(--mainFont) !important;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  padding-top: 3% !important;
  margin: 0% !important;
}