.label {
  font-family: var(--mainFont);
  display: block;
  margin: 0 0 0.28571429rem 0;
  color: rgba(0, 0, 0, .87);
  font-size: .92857143em;
  font-weight: 700;
  text-transform: none;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.placeholder {
  font-family: var(--mainFont);
  line-height: 1.21428571em;
  padding: 0.67857143em 1em;
  font-size: 1em;
  background: #fff;
  border: 1px solid rgba(34, 36, 38, .15);
  color: rgba(0, 0, 0, .87);
  border-radius: 0.28571429rem;
  box-shadow: 0 0 0 0 transparent inset;
  transition: color .1s ease, border-color .1s ease;
  width: 100%;
  vertical-align: top
}