.container {
  background-color: rgba(226, 225, 225, 0.674) !important;
  width: 9rem !important;
  height: 3rem !important;
  display: flex !important;
  align-items: center !important;
  padding: 0% !important;
  font-family: var(--mainFont) !important;
}

.userImage {
  margin: 0.5rem !important;
  margin-left: 0.6rem !important;
  width: 2.5rem !important;
  height: 2.5rem !important;
  object-fit: cover !important;
  border: 0.5px solid black;

}

.right {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.userName {
  font-family: var(--mainFont) !important;
  font-weight: bold !important;
  margin: 0% !important;

}

.location {
  font-weight: 400;
  font-size: 8px;
  line-height: 1;
}