.container {
  background-color: white !important;
  position: relative !important;
  min-width: 15rem !important;
  max-width: 20rem !important;
  min-height: 3rem !important;
  max-height: 5rem !important;
  overflow: auto !important;
  display: flex !important;
  align-items: flex-start !important;
  padding: 0.5rem !important;
}

.left {
  flex-grow: 1;
  background-color: white;
  border: 3px solid white;
  padding-left: 5px;
  text-align: center;
  width: 5rem;
}

.right {
  background-color: white;
  left: 95px;
  padding-left: 10px;
}

.title {
  font-weight: bolder !important;
  font-family: var(--mainFont) !important;
  font-size: 18px !important;
  position: sticky !important;
}

.text {
  font-family: var(--mainFont) !important;
    font-size: 11px !important;
  padding: 5px !important;
}