.container {
  background-color: white !important;
  position: relative !important;
  min-width: 20rem !important;
  max-width: 26rem !important;
  min-height: 3rem !important;
  max-height: 6rem !important;
  overflow: auto !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  padding: 0.4rem !important;
}

.header {
  background-color: white;
  width: 100%;
  border-bottom: 1px solid grey;
  position: sticky;
  top: 0;
  z-index: 1;
}

.bottom {
  background-color: white;
  overflow-x: hidden !important;
}


.title {
  font-weight: bolder !important;
  font-family: var(--mainFont) !important;
  font-size: 15px !important;
  position: sticky !important;
  text-transform: capitalize !important;
}

.text {
  font-family: var(--mainFont) !important;
  font-size: 11px !important;
  padding: 0% !important;
  }
