.segment {
  margin: 50px 50px 0px 50px !important;
  width: 600px !important;
  padding: 50px 75px !important;
}

@media only screen and (max-width: 620px) {
  .segment {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
.center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.capitalize {
  text-transform: uppercase !important;
}

.mainHeader {
  margin-bottom: 15px !important;
  font-family: var(--mainFont);
}

.mainHeaderParagraph {
  margin-bottom: 25px !important;
  color: #292C33;
  font-family: var(--mainFont);
  font-size: 14px;
}

.bold {
  font-weight: 600 !important;
}

.resetPasswordButton {
  font-family: var(--mainFont) !important;
}

.verticalSpacing {
  margin-top: 20px !important;
}