.segment {
  background: rgba(255, 255, 255, 0.663) !important;
  margin-top: 50px !important;
  width: 600px !important;
  padding: 50px 75px !important;
}

.center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.capitalize {
  text-transform: uppercase !important;
}

.mainHeader {
  margin-bottom: 15px !important;
  color: black;
  font-family: var(--mainFont);
  font-weight: 200 !important;
}

.mainHeaderParagraph {
  margin-bottom: 25px !important;
  color: #292C33;
  font-family: var(--mainFont);
  font-size: 14px;
}

.inputHeader {
  margin-bottom: 10px !important;
  color: #6B7790;
  font-family: var(--mainFont);
}

.bold {
  font-weight: 600 !important;
}

.resetPasswordButton {
  color: white !important;
  font-family: var(--mainFont) !important;
}

.verticalSpacing {
  margin-top: 20px !important;
}