.segment {
  margin: 50px 50px 0px 50px !important;
    width: 600px !important;
  padding: 50px 75px !important;
}
@media only screen and (max-width: 620px) {
  .segment {
    padding: 10px !important;
    }
    }
    
    @media only screen and (max-width: 527px) {
      .toOppositeSides {
        flex-direction: column;
        align-items: flex-start !important;
      }
    
      .forgotPasswordBreadcrumb {
        margin-top: 10px;
      }
    
      .signUpNowBreadcrumb {
        justify-content: flex-start !important;
      }
    
      .questionHeader {
        display: flex;
        justify-content: flex-start !important;
        display: flex;
        justify-content: flex-start;
  }
}

.loginHeader {
  font-family: var(--mainFont) !important;
}

.loginButton {
  font-family: var(--mainFont) !important;
  height: 38px !important;
}

.rememberMeButton {
  font-family: var(--mainFont);
}

.forgotPasswordBreadcrumb {
  font-family: var(--mainFont);
}

.questionHeader {
  font-family: var(--mainFont) !important;
}
.signUpNowBreadcrumb {
  font-family: var(--mainFont);
}

.centerMain {
  display: flex;
  justify-content: center;
}
.center {
  display: flex;
  justify-content: center;
    align-items: center;
  }

    .toOppositeSides {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .verticalSpacing {
    margin-top: 20px !important;
}

.decreaseBottomMargin {
  margin-bottom: 0px !important;
}

.capitalize {
  text-transform: uppercase !important;
}