.segment {
  margin-top: 50px !important;
    width: 600px !important;
    padding: 40px 50px 48px 50px !important;
}

.loginHeader {
  font-family: var(--mainFont) !important;
}

.infoHeader {
  font-family: var(--mainFont);
}

.placeholderText {
  font-family: var(--mainFont) !important;
}

.loginButton {
  font-family: var(--mainFont) !important;
  height: 38px !important;
}

.rememberMeButton {
  font-family: var(--mainFont);
}

.forgotPasswordBreadcrumb {
  font-family: var(--mainFont);
}

.signUpNowBreadcrumb {
  font-family: var(--mainFont);
}

.center {
  display: flex;
  flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
  }

    .toOppositeSides {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
      align-items: center;
  }

  .verticalSpacing {
    margin-top: 20px !important;
}

.decreaseBottomMargin {
  margin-bottom: 0px !important;
}

.capitalize {
  text-transform: uppercase !important;
}